.content-stripe-widget.absolute {
  position: absolute;
  z-index: 99999;
  left: -100px;
}

.blur-effect {
  filter: blur(3px);
}

.sc-no-scroll {
  overflow: hidden;
}

.crea-featured-content-pop-out {
  &-content {
    width: 100%;
    height: 100%;

    @media screen and (max-width: 550px) {
      flex-direction: column !important;

      div[class^="pop-out-row-"] {
        margin-bottom: 15px;
        margin-right: 0 !important;
      }
    }
  }

  &-wrapper {
    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;

    &-overlay {
      display: none;
    }
  }

  &-overlay{
    opacity: 0;
    transition: opacity .3s ease, z-index .3s;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -9;

    &.open {
      z-index: 999;
      top: 0;
      opacity: 1;
    }
  }

  &-aside {
    position: fixed;
    z-index: 999999999;
    overflow-x: hidden;

    &.right,
    &.left {
      height: 100%;
      min-height: 100vh;
      width: 0;
      top: 0;
      transition: 0.5s;
    }

    &.modal {
      opacity: 1;
      max-height: calc(100% - 50px);
      transition: opacity .3s;
      box-shadow: 0 0 5px -1px #999;
      visibility: visible;

      .featured-content-pop-out-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
      }

      .featured-content-pop-out-content {
        padding-top: 50px;
      }
    }

    &.open {
      @media screen and (max-width: 550px) {
        width: 100% !important;
        height: 100% !important;

        &.modal {
          max-height: 100%;
          transform: unset;
          top: 0;
          left: 0;
        }
      }
    }

    .close-btn {
      font-size: 36px;
      position: absolute;
      top: 0;
      right: 25px;
      margin-left: 50px;
      cursor: pointer;
      z-index: 1;
    }

    &.bg-tile-x-top,
    &.bg-tile-y-left {
      background-position: left top;
    }

    &.bg-cover,
    &.bg-centered {
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.bg-cover-top {
      background-position: center top;
    }

    &.bg-cover-bottom {
      background-position: center bottom;
    }

    &.bg-cover,
    &.bg-cover-top,
    &.bg-cover-bottom {
      background-size: cover;
    }

    &.bg-tile-x-top,
    &.bg-tile-x-bottom {
      background-repeat: repeat-x;
    }

    &.bg-tile-y-left,
    &.bg-tile-y-right {
      background-repeat: repeat-y;
    }

    &.bg-tile-x-bottom {
      background-position: left bottom;
    }

    &.bg-tile-y-right {
      background-position: right top;
    }

    @media screen and (min-width: 600px) {
      .widget:not(.action-calls) {
        max-width: 100%;
      }
    }
  }

  .reveal-btn {
    position: fixed;
    cursor: pointer;
    z-index: 999;

    &.right {
      right: 0px;
    }

    &.left {
      left: 0px;
    }

    &.middle {
      bottom: 50%;

      &.horizontal {
        transform: translate(0, 50%);
      }
    }

    &.vertical {
      &.right {
        &.top {
          transform: rotate(-90deg) translate(0%, -100%);
          transform-origin: right top;
        }

        &.bottom {
          transform: rotate(-90deg) translate(100%, 0%);
          transform-origin: right bottom;
        }
        &.middle {
          transform: rotate(-90deg) translate(50%, 0%);
          transform-origin: right bottom;
        }
      }

      &.left {
        transform-origin: left bottom;

        &.top {
          transform: rotate(-90deg) translate(-100%, 100%);
        }

        &.bottom {
          transform: rotate(-90deg) translate(0%, 100%);
        }

        &.middle {
          transform: rotate(-90deg) translate(-50%, 100%);
        }

      }
    }

    &-background{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 20px;
      position: relative;
      box-sizing: border-box;
      line-height: 40px;

      &.icon-right {
        flex-direction: row-reverse;

        .reveal-btn-icon {
          margin-left:10px;
        }
      }

      &.icon-above {
        flex-direction: column;

        .reveal-btn-icon {
          margin-top:10px;
        }
      }

      &.icon-below {
        flex-direction: column-reverse;

        .reveal-btn-icon {
          margin-bottom:10px;
        }
      }

      &.icon-left,
      &.icon-bottom {
        .reveal-btn-icon {
          margin-right:10px;
        }
      }
    }

    &-icon,
    &-label {
      font-size: 16px;
      z-index: 20;
      text-transform: uppercase;
    }

    &.no-text {
      .reveal-btn-icon {
        margin: 0;
      }

      .reveal-btn-container {
        padding: 10px;
      }
    }
  }
}
